<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>路书</title>
    <style type="text/css">
    html{height:100%}
    body{height:100%;margin:0px;padding:0px}
    #controller{width:100%; border-bottom:3px outset; height:30px; filter:alpha(Opacity=100); -moz-opacity:1; opacity:1; z-index:10000; background-color:white;}
    #container{height:100%}
    </style>
	<script src="//api.map.baidu.com/api?v=2.0&ak=vdwlUnwtXAAl0zuQQM2C5MdhLhfLZqcX"></script>
	<script type="text/javascript" src="//api.map.baidu.com/library/LuShu/1.2/src/LuShu_min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
</head>
<body>
    <div id="controller">
        <input id="VIN" style="margin-left: 5px; height: 18px; width: 200px" type="text" placeholder="请输入VIN" name="VIN">
        <input id="stime" placeholder="起始时间" style="width: 14.5%" class="Wdate" type="text" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd HH:mm:ss'})" name="stime" autocomplete="off">
        <span style="font-size:15px;">到</span>
        <input id="etime" placeholder="结束时间" style="width: 14.5%" class="Wdate" type="text" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd HH:mm:ss'})" name="etime" autocomplete="off">
        <input id="search" type="button" value="查询" onclick="find()">
        <input id="speed" style="margin-left: 25%; width: 35px" value="100"><span style="font-size:20px;">km/h</span>
        <input id="run" type="button" value="开始巡航"  />
        <input id="pause" type="button" value="重置"  />
    </div>
    <div id="container"></div>
	<script type="text/javascript">
	map = new BMap.Map("container");
    map.centerAndZoom(new BMap.Point(116.350658, 39.938888), 5);
    map.enableScrollWheelZoom();
    map.addControl(new BMap.NavigationControl());
    map.addControl(new BMap.ScaleControl());
    map.addControl(new BMap.OverviewMapControl({isOpen: true}));


    function find() {
        arrPois = [];//全局变量保存坐标点
        $.ajax({
            url: '/playback/search?VIN=' + $('#VIN').val() + '&' + 'stime=' + $('#stime').val() + '&' + 'etime=' + $('#etime').val(),//地址
            dataType: 'json',
            type: 'GET',
            timeout: 2000,
            success: function (e) {
                if(e.opts == 'failure'){
                    alert('无此数据')
                }else {
                var opts = e.opts;
                for (var i = 0; i < opts.length; i++) {
                    arrPois.push(new BMap.Point(opts[i][0], opts[i][1]))//后台取数
                }
                play(); //播放方法
            }},
            error: function () {
                alert("获取失败！");
            }

        });
    }
    var marker;
    var lushu;
    var speeds;
    speeds = $("#speed").val();

        function play() {
            map.setViewport(arrPois);
            marker = new BMap.Marker(arrPois[0], {
                icon: new BMap.Icon('/static/images/car_back.png', new BMap.Size(52, 26), { anchor: new BMap.Size(27, 13) })
            });
            // var polyline = new BMap.Polyline(arrPois, {strokeColor: "gray", strokeWeight: 8, strokeOpacity: 1});
            // map.addOverlay(polyline); // 增加折线
            map.addOverlay(marker);
            BMapLib.LuShu.prototype._move=function(initPos,targetPos,effect) {
                var pointsArr=[initPos,targetPos];  //点数组
                var me = this,
                    //当前的帧数
                    currentCount = 0,
                    //步长，米/秒
                    timer = 10,
                    step = this._opts.speed / (1000 / timer),
                    //初始坐标
                    init_pos = this._projection.lngLatToPoint(initPos),
                    //获取结束点的(x,y)坐标
                    target_pos = this._projection.lngLatToPoint(targetPos),
                    //总的步长
                    count = Math.round(me._getDistance(init_pos, target_pos) / step);
                     //显示折线 syj201607191107
                var sy = new BMap.Symbol(BMap_Symbol_SHAPE_BACKWARD_OPEN_ARROW, {
                    scale: 0.6,//图标缩放大小
                    strokeColor: '#fff',//设置矢量图标的线填充颜色
                    strokeWeight: '2',//设置线宽
                });
        var icons = new BMap.IconSequence(sy, '10', '30');
                this._map.addOverlay(new BMap.Polyline(pointsArr, {
                    enableEditing: false,//是否启用线编辑，默认为false
                    enableClicking: true,//是否响应点击事件，默认为true
                    icons: [icons],
                    strokeWeight: '8',//折线的宽度，以像素为单位
                    strokeOpacity: 0.8,//折线的透明度，取值范围0 - 1
                    strokeColor: "#18a45b"//折线颜色
                })); // 画线
                //如果小于1直接移动到下一点
                if (count < 1) {
                    me._moveNext(++me.i);
                    return;
                }
                me._intervalFlag = setInterval(function() {
                //两点之间当前帧数大于总帧数的时候，则说明已经完成移动
                    if (currentCount >= count) {
                        clearInterval(me._intervalFlag);
                        //移动的点已经超过总的长度
                        if(me.i > me._path.length){
                            return;
                        }
                        //运行下一个点
                        me._moveNext(++me.i);
                    }else {
                            currentCount++;
                            var x = effect(init_pos.x, target_pos.x, currentCount, count),
                                y = effect(init_pos.y, target_pos.y, currentCount, count),
                                pos = me._projection.pointToLngLat(new BMap.Pixel(x, y));
                            //设置marker
                            if(currentCount == 1){
                                var proPos = null;
                                if(me.i - 1 >= 0){
                                    proPos = me._path[me.i - 1];
                                }
                                if(me._opts.enableRotation == true){
                                     me.setRotation(proPos,initPos,targetPos);
                                }
                                if(me._opts.autoView){
                                    if(!me._map.getBounds().containsPoint(pos)){
                                        me._map.setCenter(pos);
                                    }
                                }
                            }
                            //正在移动
                            me._marker.setPosition(pos);
                            //设置自定义overlay的位置
                            me._setInfoWin(pos);
                        }
                },timer);
            };

            lushu = new BMapLib.LuShu(map, arrPois, {
                defaultContent: "",//"从天安门到百度大厦"
                autoView:true,//是否开启自动视野调整，如果开启那么路书在运动过程中会根据视野自动调整
                icon: new BMap.Icon('/static/images/car_back.png', new BMap.Size(52, 26), { anchor: new BMap.Size(27, 13) }),
                speed: speeds,
                enableRotation: true,//是否设置marker随着道路的走向进行旋转
                landmarkPois: [
                { lng: 116.306954, lat: 40.05718, html: '加油站', pauseTime: 2 }
                ]  //车辆到这个点暂停2s，坐标可写成自己想要的，也可以从数组动态获取；
            });
            map.centerAndZoom(arrPois[0], 15);//设置初始点为中心
            marker.addEventListener("click", function () {
                marker.enableMassClear();   //设置后可以隐藏改点的覆盖物
                marker.hide();
                lushu.start();
                //map.clearOverlays();  //清除所有覆盖物
            });
            //下拉框值的改变
            $("#speed").change(function () {
                lushu._opts.speed = $("#speed").val();//改变路书播放速度
            });
            $("#run").click(function () {
                marker.enableMassClear(); //设置后可以隐藏改点的覆盖物
                marker.hide();
                lushu.start();
                // map.clearOverlays();    //清除所有覆盖物
            });
            $("#stop").click(function () {
                lushu.stop();
                map.clearOverlays();
            });
            $("#pause").click(function () {
                lushu.pause();
            });
            $("#hide").click(function () {
                lushu.hideInfoWindow();
            });
            $("#show").click(function () {
                lushu.showInfoWindow();
            });
            //function $(element) {
            //    return document.getElementById(element);
            //}
        }
    </script>
</body>
</html>
