<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-L-admin1.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="/static/js/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
  </head>
  
  <body class="layui-anim layui-anim-up">
    <div class="x-body">
      <div class="layui-row">
          <input id="VIN" style="width: 200px;float: left;margin-left: 10px" type="text" placeholder="请输入完整VIN" class="layui-input">
          <span></span>
          <input class="layui-input" id="stime" placeholder="起始时间" style="width: 14.5%;float: left;margin-left: 10px" class="Wdate" type="text" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd HH:mm:ss'})" name="stime" autocomplete="off">
          <span style="font-size:15px; float: left;margin-left: 5px;margin-top: 5px">到</span>
          <input class="layui-input" id="etime" placeholder="结束时间" style="width: 14.5%; float: left;margin-left: 5px" class="Wdate" type="text" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd HH:mm:ss'})" name="etime" autocomplete="off">
          <button id="search" style="float: left;margin-left: 5px" class="layui-btn" ><i class="layui-icon">&#xe615;</i></button>
      </div>
    </div>
  <table class="layui-hide" id="test" lay-filter="test"></table>
    <script type="text/html" id="barDemo">
        <a id="analysis_data" class="layui-btn layui-btn-xs analysis_data" lay-event="edit">报文解析</a>
    </script>
    <script>
    $('#search').click(function () {
        layui.use('table', function(){
          var table = layui.table;
          table.render({
            elem: '#test'
            ,url:'/CAN/test/?VIN=' + $('#VIN').val() + '&stime=' + $('#stime').val() + '&etime=' + $('#etime').val()
            ,toolbar: '#toolbarDemo'
            ,title: '用户数据表'
            ,cols: [[
              {type: 'checkbox', fixed: 'left'}
              ,{field:'id', title:'ID', width:80, fixed: 'left', unresize: true, sort: true, align:'center'}
              ,{field:'VIN', title:'VIN', align:'center',edit: 'text', templet: function(res){
                return '<em>'+ res.VIN +'</em>'
              }}

              ,{field:'create_time', title:'发送时间', align:'center'}
              ,{field:'data', title:'报文', align:'center', edit: 'text', templet: function(res){
                return '<em>'+ res.data +'</em>'
              }}
              ,{field:'type', title:'类型', align:'center', sort:true}
              ,{fixed: 'right', title:'操作', toolbar: '#barDemo', align:'center'}
            ]]
            ,page: true
            ,limit:10
          });
          //监听行工具事件
          table.on('tool(test)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
              layer.confirm('真的删除行么', function(index){
                obj.del();
                layer.close(index);
              });
            } else if(obj.event === 'edit'){
                if(data.VIN === 'TBOXC32A000000005'){
                parent.layer.open({
                      type: 2,
                      area: ['80%', '90%'],
                      maxmin: true, //允许全屏最小化
                      anim: 0, //0-6的动画形式，-1不开启
                      content: '/doctor/analysis_doctor/?data=' + data.data //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                    });
                }else {
                parent.layer.open({
                      type: 2,
                      area: ['80%', '90%'],
                      maxmin: true, //允许全屏最小化
                      anim: 0, //0-6的动画形式，-1不开启
                      content: '/CAN/analysis_data/?data=' + data.data //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                    });
                }
            }
          });
        });
            });
    </script>
  </body>
</html>