<!DOCTYPE html>
<html lang="en">

    <meta charset="UTF-8">
    <title>国标解析</title>
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
    <script src="/static/echarts-4.2.1/echarts.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=vdwlUnwtXAAl0zuQQM2C5MdhLhfLZqcX"></script>
    <style>
        .show{
            display:block;
        }
        .hide{
            display:none;
        }
    </style>
</head>
<body>
    <div class="layui-row">
        <div style="text-align: center;margin-top: 1%" class="layui-form layui-col-md12 x-so">
          <input style="width: 12%" type="text" name="search"  placeholder="请输入需要监控的VIN" autocomplete="off" class="layui-input">
          <button class="layui-btn" onclick="WebSocketTest()">开始监控</button>
            <div id="first" style="text-align: center; margin-top: 2px;" class="layui-bg-blue"><span id="count"></span>秒后刷新</div>
        </div>
      </div>
<script type="text/javascript">
    document.getElementById("first").hidden = true;
    function run(){
        document.getElementById("count").innerHTML = count;
        var timer = setTimeout("run()",950);
        if(count!==1){
            count--;
        } else {
            clearTimeout(timer);
        }
    }
</script>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
    <legend>国标数据解析</legend>
</fieldset>
<div class="layui-form layui-form-pane" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">原报文</label>
        <div class="layui-input-block">
            <input type="text" id="bw" name="title" autocomplete="off" class="layui-input">
        </div>
    </div>
    <table class="layui-table">
        <tbody>
            <tr>
                <td style="width: 8%">信息类型</td>
                <td style="width: 12%" id="info"></td>
                <td style="width: 8%">VIN</td>
                <td style="width: 12%" id="vin"></td>
                <td style="width: 8%">报文时间</td>
                <td style="width: 12%" id="time"></td>
                <td style="width: 8%">流水号</td>
                <td style="width: 12%" id="ser"></td>
                <td style="width: 8%">ICCID</td>
                <td style="width: 12%" id="iccid"></td>
            </tr>
        </tbody>
    </table>
    <fieldset class="layui-elem-field layui-field-title hide" style="margin-top: 5px;">
        <legend>整车数据</legend>
    </fieldset>
    <table class="layui-table hide">
        <tbody>
        <tr>
            <td style="width: 10.4%">车辆状态</td>
            <td style="width: 23%" id="auto"></td>
            <td style="width: 10.4%">累计里程</td>
            <td style="width: 23%" id="mileage"></td>
            <td style="width: 10.4%">DCDC状态</td>
            <td style="width: 23%" id="dc"></td>
        </tr>
        <tr>
            <td style="width: 10.4%">充电状态</td>
            <td style="width: 23%" id="charge"></td>
            <td style="width: 10.4%">总&nbsp;&nbsp;电&nbsp;&nbsp;压</td>
            <td style="width: 23%" id="battery_v"></td>
            <td style="width: 10.4%">档&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;位</td>
            <td style="width: 23%" id="gears"></td>
        </tr>
        <tr>
            <td style="width: 10.4%">运行模式</td>
            <td style="width: 23%" id="runmode"></td>
            <td style="width: 10.4%">总&nbsp;&nbsp;电&nbsp;&nbsp;流</td>
            <td style="width: 23%" id="battery_i"></td>
            <td style="width: 10.4%">绝缘电阻</td>
            <td style="width: 23%" id="res"></td>
        </tr>
        <tr>
            <td style="width: 10.4%">车&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;速</td>
            <td style="width: 23%" id="speed"></td>
            <td style="width: 10.4%">S&nbsp;&nbsp;&nbsp;O&nbsp;&nbsp;&nbsp;C</td>
            <td style="width: 23%" id="soc"></td>
            <td style="width: 10.4%">踏板行程</td>
            <td style="width: 23%" id="bac"></td>
        </tr>
        </tbody>
    </table>
    <fieldset class="layui-elem-field layui-field-title hide" style="margin-top: 5px;">
        <legend>电机数据</legend>
    </fieldset>
    <table class="layui-table hide">
        <tbody>
        <tr>
            <td style="width: 10%">电机总数</td>
            <td colspan ="7" id="totle"></td>
        </tr>
        <tr>
            <td style="width: 10%">电机序号</td>
            <td style="width: 15%" id="motor_xh"></td>
            <td style="width: 10%">控制器温度</td>
            <td style="width: 15%" id="temp_c"></td>
            <td style="width: 10%">电机转矩</td>
            <td style="width: 15%" id="motor_nm"></td>
            <td style="width: 10%">输入电压</td>
            <td style="width: 15%" id="motor_v"></td>
        </tr>
        <tr>
            <td style="width: 10%">电机状态</td>
            <td style="width: 15%" id="motor_s"></td>
            <td style="width: 10%">电机转速</td>
            <td style="width: 15%" id="motor_sp"></td>
            <td style="width: 10%">电机温度</td>
            <td style="width: 15%" id="motor_t"></td>
            <td style="width: 10%">母线电流</td>
            <td style="width: 15%" id="motor_i"></td>

        </tr>
        </tbody>
    </table>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 5px;">
        <legend>极值数据</legend>
    </fieldset>
    <table class="layui-table">
        <tbody>
        <tr>
            <td style="width: 10%">单体最高温度位置</td>
            <td style="width: 15%" id="jz_wd_maxn"></td>
            <td style="width: 10%">单体最低温度位置</td>
            <td style="width: 15%" id="jz_wd_minn"></td>
            <td style="width: 10%">单体最高电压位置</td>
            <td style="width: 15%" id="jz_dy_maxn"></td>
            <td style="width: 10%">单体最低电压位置</td>
            <td style="width: 15%" id="jz_dy_minn"></td>
        </tr>
        <tr>
            <td style="width: 10%">单体最高温度</td>
            <td style="width: 15%" id="jz_wd_maxz"></td>
            <td style="width: 10%">单体最低温度</td>
            <td style="width: 15%" id="jz_wd_minz"></td>
            <td style="width: 10%">单体最高电压</td>
            <td style="width: 15%" id="jz_dy_maxz"></td>
            <td style="width: 10%">单体最低电压</td>
            <td style="width: 15%" id="jz_dy_minz"></td>
        </tr>
        <tr>
            <td style="width: 10%">单体平均温度</td>
            <td style="width: 15%" id="pjwd"></td>
            <td style="width: 10%">温度传感器数量</td>
            <td style="width: 15%" id="cgq"></td>
            <td style="width: 10%">单体平均电压</td>
            <td colspan="3" id="pjdy"></td>
        </tr>
        </tbody>
    </table>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 5px;">
    <legend>版本数据</legend>
    </fieldset>
    <table class="layui-table">
        <tbody>
        <tr>
            <td style="width: 10%">主软件版本</td>
            <td colspan ="3" id="sw_maj"></td>
            <td style="width: 10%">主硬件版本</td>
            <td colspan ="3" id="hw_maj"></td>
        </tr>
        <tr>
            <td style="width: 10%">辅软件版本</td>
            <td colspan ="3" id="sw_min"></td>
            <td style="width: 10%">辅硬件版本</td>
            <td colspan ="3" id="hw_min"></td>
        </tr>
        <tr>
            <td style="width: 10%">软件版本</td>
            <td colspan ="3" id="sw_bu"></td>
            <td style="width: 10%">硬件版本</td>
            <td colspan ="3" id="hw_bu"></td>
        </tr>
        <tr>
            <td style="width: 10%">月份</td>
            <td colspan ="3" id="moth"></td>
            <td style="width: 10%">日期</td>
            <td colspan ="3" id="dat"></td>
        </tr>
        </tbody>
    </table>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 5px;">
        <legend>定位数据</legend>
    </fieldset>
    <div class="" style="height: 200px;" id="map">

    </div>
    <table class="layui-table">
        <tbody>
        <tr>
            <td style="width: 10%">定位状态</td>
            <td colspan ="3" id="ad"></td>
        </tr>
        <tr>
            <td style="width: 10%">经度</td>
            <td style="width: 40%" id="ad_j"></td>
            <td style="width: 10%">纬度</td>
            <td style="width: 40%" id="ad_w"></td>
        </tr>
        </tbody>
    </table>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 5px;">
        <legend>故障数据</legend>
    </fieldset>
    <table class="layui-table">
        <tbody>
        <tr>
            <td style="width: 10%">放电状态故障等级</td>
            <td colspan ="3" id="dchgle"></td>
            <td style="width: 10%">故障数量</td>
            <td colspan ="3" id="bat_n"></td>
        </tr>
        <tr>
            <td style="width: 10%">充电状态故障等级</td>
            <td colspan ="3" id="chgle"></td>
            <td style="width: 10%">故障序号</td>
            <td colspan ="3" id="bat_l"></td>
        </tr>
        </tbody>
    </table>
    <fieldset class="layui-elem-field layui-field-title hide" style="margin-top: 5px;">
        <legend>极值数据</legend>
    </fieldset>
    <table class="layui-table hide">
        <tbody>
        <tr>
            <td style="width: 15%">最高电压电池子系统号</td>
            <td style="width: 10%" id="lim_max_i"></td>
            <td style="width: 15%">最低电压电池子系统号</td>
            <td style="width: 10%" id="lim_min_i"></td>
            <td style="width: 15%">最高温度子系统号</td>
            <td style="width: 10%" id="lim_max_c"></td>
            <td style="width: 15%">最低温度子系统号</td>
            <td style="width: 10%" id="lim_min_c"></td>
        </tr>
        <tr>
            <td style="width: 15%">最高电压电池单体号</td>
            <td style="width: 10%" id="lim_max_n"></td>
            <td style="width: 15%">最低电压电池单体号</td>
            <td style="width: 10%" id="lim_min_n"></td>
            <td style="width: 15%">最高温度探针序号</td>
            <td style="width: 10%" id="lim_max_cn"></td>
            <td style="width: 15%">最低温度探针序号</td>
            <td style="width: 10%" id="lim_min_cn"></td>
        </tr>
        <tr>
            <td style="width: 15%">电池单电压最高值</td>
            <td style="width: 10%" id="lim_max_z"></td>
            <td style="width: 15%">电池单电压最低值</td>
            <td style="width: 10%" id="lim_min_z"></td>
            <td style="width: 15%">最高温度值</td>
            <td style="width: 10%" id="lim_max_cz"></td>
            <td style="width: 15%">最低温度值</td>
            <td style="width: 10%" id="lim_min_cz"></td>
        </tr>
        </tbody>
    </table>
    <fieldset class="layui-elem-field layui-field-title hide" style="margin-top: 5px;">
        <legend>报警数据</legend>
    </fieldset>
    <table class="layui-table hide">
        <tbody>
            <tr>
                <td style="width: 10%">最高报警等级</td>
                <td style="width: 10%" id="alarm_d"></td>
                <td style="width: 10%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">可充电储能装置故障总数</td>
                <td style="width: 10%" id="alarm_cn"></td>
                <td style="width: 10%">驱动电机故障总数</td>
                <td style="width: 10%" id="alarm_qn"></td>
                <td style="width: 10%">发动机故障总数</td>
                <td style="width: 10%" id="alarm_fn"></td>
                <td style="width: 10%">其他故障总数</td>
                <td style="width: 10%" id="alarm_othe"></td>
            </tr>
            <tr>
                <td style="width: 10%">通用报警标志
                    <button type="button" class="layui-btn" style="padding: 0 5px;background-color: #fff;height: 23px;line-height: 23px;" id="btu">
                        <i class="layui-icon" style="font-size: 20px;background-color:#fff;color: #000;" >&#xe60a;</i>
                    </button>
                </td>
                <td style="width: 10%" id="alarm_t"></td>
                <td style="width: 10%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">可充电储能装置故障代码</td>
                <td style="width: 10%" id="alarm_c"></td>
                <td style="width: 10%">驱动电机故障代码</td>
                <td style="width: 10%" id="alarm_q"></td>
                <td style="width: 10%">发动机故障代码</td>
                <td style="width: 10%" id="alarm_f"></td>
                <td style="width: 10%">其他故障故障代码</td>
                <td style="width: 10%" id="alarm_o"></td>
            </tr>
        </tbody>
    </table>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 5px;">
        <legend>其他数据</legend>
    </fieldset>
    <table class="layui-table">
        <tbody>
        <tr>
            <td style="width: 10%">传感器电流值</td>
            <td style="width: 15%" id="curr"></td>
            <td style="width: 10%">总充电安时数</td>
            <td style="width: 15%" id="ah_chg"></td>
            <td style="width: 10%">当前瓦时</td>
            <td style="width: 15%" id="wh_cur"></td>
            <td style="width: 10%">BMS工作状态</td>
            <td style="width: 15%" id="bms_st"></td>
        </tr>
        <tr>
            <td style="width: 10%">充电机电流值</td>
            <td style="width: 15%" id="chg_curr"></td>
            <td style="width: 10%">总放电安时数</td>
            <td style="width: 15%" id="ah_dchg"></td>
            <td style="width: 10%">额定瓦时</td>
            <td style="width: 15%" id="wh_rated"></td>
            <td style="width: 10%">继电器状态</td>
            <td style="width: 15%" id="con_st"></td>
        </tr>
        <tr>
            <td style="width: 10%">显示SOC</td>
            <td style="width: 15%" id="disp_soc"></td>
            <td style="width: 10%">剩余容量</td>
            <td style="width: 15%" id="rest_mah"></td>
            <td style="width: 10%">额定电压</td>
            <td style="width: 15%" id="avilable_volt"></td>
            <td style="width: 10%">主继电器闭合状态</td>
            <td style="width: 15%" id="main_st"></td>
        </tr>
        <tr>
            <td style="width: 10%">绝缘电阻值</td>
            <td style="width: 15%" id="res_value"></td>
            <td style="width: 10%">额定容量</td>
            <td style="width: 15%" id="avilable_mah"></td>
            <td style="width: 10%">额定安时</td>
            <td style="width: 15%" id="avilable_ah"></td>
            <td style="width: 10%">充电继电器闭合状态</td>
            <td style="width: 15%" id="chg_st"></td>
        </tr>
        </tbody>
    </table>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 5px;">
        <legend>电压数据</legend>
    </fieldset>
    <table class="layui-table">
        <tbody>
        <tr>
            <td style="width: 10%">真实SOC</td>
            <td style="width: 15%" id="real_soc"></td>
            <td style="width: 10%">电池包内压</td>
            <td style="width: 15%" id="volt_bef"></td>
            <td style="width: 10%">充电器电压</td>
            <td colspan ="2" id="volt_chg"></td>
        </tr>
        <tr>
            <td style="width: 10%">显示SOC</td>
            <td style="width: 15%" id="exp_soc"></td>
            <td style="width: 10%">电池包外压</td>
            <td style="width: 15%" id="volt_aft"></td>
            <td style="width: 10%">单体电压总和</td>
            <td colspan ="2" id="volt_sum"></td>
        </tr>
        </tbody>
    </table>
    <div class=""  style="height: 400px" id="main-v">

    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 5px;">
        <legend>温度数据</legend>
    </fieldset>
    <div class="" style="height: 400px" id="main-c">

    </div>
    <div style="height: 50px;line-height: 50px;text-align: center;background-color: #252525;font-size: 12px;color: #969595">
        成都康普斯北斗科技有限公司2016 版权所有 川B2-20080058号Copyright 2016 ChengDu Compass BeiDou Technology Co., Ltd
    </div>
</div>
<script>

            function WebSocketTest() {
                if ("WebSocket" in window) {
                    // 打开一个 web socket
                    ws = new WebSocket("ws:" + window.location.host + "/doctor/drug_socket/");

                    ws.onopen = function () {
                        // Web Socket 已连接上，使用 send() 方法发送数据
                        var VIN = $('.layui-input').val();
                        ws.send(VIN);
                    };

                    ws.onmessage = function (evt) {
                        var received_msg = evt.data;
                        if(received_msg === '设备未登录,请连接设备'){
                            alert('设备未登录,请连接设备');
                        } else {
                            $('#bw').val(received_msg);
                                start();
                                document.getElementById("first").hidden = false;
                                count =10;
                                run();
                        }

                    };

                    ws.onclose = function () {
                    };
                } else {
                    // 浏览器不支持 WebSocket
                    alert("您的浏览器不支持 WebSocket!");
                }
            }

    var dianc = {categories:[],data:[]};
    var wd = {categories:[],data:[]};
    var myChart = echarts.init(document.getElementById('main-v'));
    var myChart_1 = echarts.init(document.getElementById('main-c'));
    var option={};
    var option_1={};
    var alarm_str="";
    var alarm_arr=["温度差异报警","电池高温报警","车载储能装置类型过压报警","车载储能装置类型欠压报警","SOC低报警","单体电池过压报警","单体电池欠压报警","SOC过高报警","SOC跳变报警","可充电储能系统不匹配报警",
    "单体电池一致性差报警","绝缘报警","DC-DC温度报警","制动系统报警","DC-DC状态报警","驱动电机控制器温度报警","高压互锁状态报警","驱动电机温度报警","车载储能装置类型过充"];
    $("#btu").click(function () {
        layer.open({
            type: 1 //Page层类型
            ,area: ['800px', '500px']
            ,title: '通用报警标志'
            ,shade: 0.6 //遮罩透明度
            ,maxmin: true //允许全屏最小化
            ,anim: 0 //0-6的动画形式，-1不开启
            ,content: alarm_str
        });
    });

    function start() {

        var a = $("#bw").val();
        //清空显示
        $("td[id]").text("");
        dianc = {categories:[],data:[]};
        wd = {categories:[],data:[]};
        alarm_str="";
        if(a.length>22){
            //var a="232301fe4c44503533413936324b4330393530323201002513070811112800033839383631313138323333303333343533383930010730324b50424637e1";
            var arr=new Array();
            var data=new Array();
            var VIN=new Array();
            var time_p=new Array();
            var car = new Array();//整车数据
            var motor = new Array();//电机数据
            var location = new Array();//定位数据
            var limit = new Array();//极值数据
            var alarm = new Array();//报警数据
            var alarm_s = new Array();
            var voltage = new Array();//电压数据
            var temp = new Array();//温度数据
            var iccid = new Array();
            var medical = new Array();//医疗设备自定义数据
            var len=0,len_s=0,len_data=0,len1,len2,len3,len4;
            var i,b=0;
            var check=0;
            var str_alarm="";
            for(i=0;i<a.length;i++){
                b=a.slice(i,i+2);
                arr.push(b);
                i++;
            }
            for(i=0;i<arr.length;i++){
                check = check^parseInt(arr[i],16);
            }
            if(check!=0){
                layer.msg("数据校验和错误！", {icon: 2});
               return;
            }
            for(i=0;i<17;i++){
                VIN.push(arr[i+4]);
                VIN[i]=String.fromCharCode(parseInt(VIN[i],16));
            }

            $('#vin').text(VIN.join(""));
            len = parseInt(arr[22],16)*256+parseInt(arr[23],16);
            for(i=0;i<6;i++){
                time_p.push(arr[i+24]);
            }
            $("#time").text("20"+parseInt(time_p[0],16)+"-"+parseInt(time_p[1],16)+"-"+parseInt(time_p[2],16)+" "+parseInt(time_p[3],16)+":"+parseInt(time_p[4],16)+":"+parseInt(time_p[5],16));
            $("#main-v").removeClass();
            $("#main-v").addClass("show");
            $("#main-c").removeClass();
            $("#main-c").addClass("show");
            if(arr[2]=="02" || arr[2]=="03"){
                if(arr[2]=="02")
                    $('#info').text("实时数据");
                else
                    $('#info').text("补发数据");
                for(i=0;i<len-6;i++){
                    data.push(arr[i+30]);
                }
                len_s=6;
                while(len-len_s){
                    if(data[0]=="01"){//21
                        len_data=21;
                        for(i=0;i<len_data;i++){
                            car.push(data[i]);
                        }
                        if(car[1]=="01"){
                            $('#auto').text("启动");
                        }else if(car[1]=="02"){
                            $('#auto').text("熄火");
                        }else if(car[1]=="03"){
                            $('#auto').text("其他");
                        }else if(parseInt(car[1],16)==254){
                            $('#auto').text("异常");
                        }else if(parseInt(car[1],16)==255){
                            $('#auto').text("无效");
                        }else
                            $('#auto').text("错误");
                        $('#auto').text($('#auto').text()+" --- 0x"+car[1]);
                        if(car[2]=="01"){
                            $('#charge').text("停车充电");
                        }else if(car[2]=="02"){
                            $('#charge').text("行驶充电");
                        }else if(car[2]=="03"){
                            $('#charge').text("未充电");
                        }else if(car[2]=="04"){
                            $('#charge').text("充电完成");
                        }else if(parseInt(car[2],16)==254){
                            $('#charge').text("异常");
                        }else if(parseInt(car[2],16)==255){
                            $('#charge').text("无效");
                        }else
                            $('#charge').text("错误");
                        $('#charge').text($('#charge').text()+" --- 0x"+car[2]);
                        if(car[3]=="01"){
                            $('#runmode').text("纯电");
                        }else if(car[3]=="02"){
                            $('#runmode').text("混动");
                        }else if(car[3]=="03"){
                            $('#runmode').text("燃油");
                        }else if(parseInt(car[3],16)==254){
                            $('#runmode').text("异常");
                        }else if(parseInt(car[3],16)==255){
                            $('#runmode').text("无效");
                        }else
                            $('#runmode').text("错误");
                        $('#runmode').text($('#runmode').text()+" --- 0x"+car[3]);
                        $("#speed").text(((parseInt(car[4],16)*256)+parseInt(car[5],16))/10+" km/h --- 0x"+car[4]+car[5]);
                        $('#mileage').text(((parseInt(car[6],16)*256*256*256)+(parseInt(car[7],16)*256*256)+(parseInt(car[8],16)*256)+parseInt(car[9],16))/10+" km --- 0x"+car[6]+car[7]+car[8]+car[9]);
                        $('#battery_v').text(((parseInt(car[10],16)*256)+parseInt(car[11],16))/10+" V --- 0x"+car[10]+car[11]);
                        $("#battery_i").text(((parseInt(car[12],16)*256)+parseInt(car[13],16)-10000)/10+" A --- 0x"+car[12]+car[13]);
                        $("#soc").text(parseInt(car[14],16)+" % --- 0x"+car[14]);
                        if(car[15]=="01"){
                            $("#dc").text("工作");
                        }else if(car[15]=="01"){
                            $("#dc").text("断开");
                        }else if(parseInt(car[15],16)==254){
                            $("#dc").text("异常");
                        }else if(parseInt(car[15],16)==255){
                            $("#dc").text("无效");
                        }else
                            $("#dc").text("未知");

                        $('#dc').text($('#dc').text()+" --- 0x"+car[15]);
                        var t=new String(car[16]);
                        var d=new Array();
                        d=t.split('');
                        if(parseInt(d[0],16)==0){
                            $("#gears").text("无驱动力,无制动力, ");
                        }else if(parseInt(d[0],16)==1){
                            $("#gears").text("无驱动力,有制动力, ");
                        }else if(parseInt(d[0],16)==2){
                            $("#gears").text("有驱动力,无制动力，");
                        }else if(parseInt(d[0],16)==3){
                            $("#gears").text("有驱动力,有制动力，");
                        }
                        var str1=$("#gears").text();
                        console.log(str1.toString());
                        if(parseInt(d[1],16)==0){
                            $('#gears').text(str1+"空挡");
                        }else if(parseInt(d[1],16)==13){
                            $('#gears').text(str1+"倒挡");
                        }else if(parseInt(d[1],16)==14){
                            $('#gears').text(str1+"自动D挡");
                        }else if(parseInt(d[1],16)==15){
                            $('#gears').text(str1+"停车P挡");
                        }
                        $('#gears').text($('#gears').text()+" --- 0x"+car[16]);
                        $("#res").text(parseInt(car[17],16)*256+parseInt(car[18],16)+" kΩ --- 0x"+car[17]+car[18]);
                        $('#bac').text(parseInt(car[19],16)+" %(0x"+car[19]+") --- "+parseInt(car[20],16)+" % (0x"+car[20]+")");
                        console.log("整车数据提取完成！");
                    }else if(data[0]=="02"){//2+N*12
                        len_data=2+12*parseInt(data[1],16);
                        for(i=0;i<len_data;i++){
                            motor.push(data[i]);
                        }
                        $("#totle").text(parseInt(motor[1],16)+" 个 --- 0x"+motor[1]);
                        $("#motor_xh").text(parseInt(motor[2],16)+" --- 0x"+motor[2]);
                        if(motor[3]=='01'){
                            $("#motor_s").text("耗电");
                        }else if(motor[3]=='02'){
                            $("#motor_s").text("发电");
                        }else if(motor[3]=='03'){
                            $("#motor_s").text("关闭");
                        }else if(motor[3]=='04'){
                            $("#motor_s").text("准备");
                        }else if(motor[3]=='fe' || motor[3]=='FE'){
                            $("#motor_s").text("异常");
                        }else if(motor[3]=='ff' || motor[3]=='FF'){
                            $("#motor_s").text("无效");
                        }else
                            $("#motor_s").text("未知");
                        $("#motor_s").text($("#motor_s").text()+" --- 0x"+motor[3]);
                        $("#temp_c").text((parseInt(motor[4],16)-40)+" ℃ --- 0x"+motor[4]);
                        $("#motor_sp").text((((parseInt(motor[5],16)*256)+parseInt(motor[6],16))-20000)+" r/min --- 0x"+motor[5]+motor[6]);
                        $("#motor_nm").text(((parseInt(motor[7],16)*256+parseInt(motor[8],16))/10-2000)+" N·m --- 0x"+motor[7]+motor[8]);
                        $("#motor_t").text((parseInt(motor[9],16)-40)+" ℃ --- 0x"+motor[9]);
                        $("#motor_v").text(((parseInt(motor[10],16)*256+parseInt(motor[11],16))/10)+" V --- 0x"+motor[10]+motor[11]);
                        $("#motor_i").text(((parseInt(motor[12],16)*256+parseInt(motor[13],16)-10000)/10)+" A --- 0x"+motor[12]+motor[13]);
                        console.log("电机数据提取完成！");
                    }else if(data[0]=="05"){//1+9
                        len_data=10;
                        for(i=0;i<len_data;i++){
                            location.push(data[i]);
                        }
                        var jindu = ((parseInt(location[2],16)*256*256*256)+(parseInt(location[3],16)*256*256)+(parseInt(location[4],16)*256)+(parseInt(location[5],16)))/1000000;
                        var weidu = ((parseInt(location[6],16)*256*256*256)+(parseInt(location[7],16)*256*256)+(parseInt(location[8],16)*256)+(parseInt(location[9],16)))/1000000;
                        if(location[1]=='00'){
                            $("#ad").text("有效 --- 0x00  ");
                            $("#map").removeClass();
                            $("#map").addClass("show");
                            var bm = new BMap.Map("map");

                            var gpsPoint = new BMap.Point(jindu,weidu);
                            var j_d=0,w_d=0;
                            var convertor = new BMap.Convertor();
                            var pointArr = [];
                            pointArr.push(gpsPoint);
                            convertor.translate(pointArr,1,5,function(pdata){
                                j_d = pdata.points[0].lng;
                                w_d = pdata.points[0].lat;
                                var pla = new BMap.Point(j_d,w_d);
                                bm.centerAndZoom(pla, 15);
                                bm.addControl(new BMap.NavigationControl());
                                var markergg = new BMap.Marker(pla);
                                bm.addOverlay(markergg);
                                bm.enableScrollWheelZoom(true);
                                var myGeo = new BMap.Geocoder();
                                var pt = new BMap.Point(j_d,w_d);
                                geocodeSearch(pt);
                                function geocodeSearch(pt){
                                    myGeo.getLocation(pt, function(rs){
                                        var addComp = rs.addressComponents;
                                        document.getElementById("ad").innerHTML +=  addComp.province + addComp.city + addComp.district + addComp.street+ addComp.streetNumber;
                                    });
                                }
                                $("#ad_j").text("("+j_d+")");
                                $("#ad_w").text("("+w_d+")");
                                $("#ad_j").text(jindu+"("+j_d+")"+"--- 0x"+location[2]+location[3]+location[4]+location[5]);
                                $("#ad_w").text(weidu+"("+w_d+")"+"--- 0x"+location[6]+location[7]+location[8]+location[9]);
                            });
                        }else{
                            $("#map").removeClass();
                            $("#map").addClass("hide");
                            $("#ad").text("无效 --- 0x01  ");
                            $("#ad_j").text(jindu+"--- 0x"+location[2]+location[3]+location[4]+location[5]);
                            $("#ad_w").text(weidu+"--- 0x"+location[6]+location[7]+location[8]+location[9]);
                        }
                        console.log("位置数据提取完成！");
                    }else if(data[0]=="06"){//1+14
                        len_data=15;
                        for(i=0;i<len_data;i++){
                            limit.push(data[i]);
                        }
                        $("#lim_max_i").text(parseInt(limit[1],16)+" --- 0x"+limit[1]);
                        $("#lim_max_n").text(parseInt(limit[2],16)+" --- 0x"+limit[2]);
                        $("#jz_dy_maxn").text(parseInt(limit[2],16));
                        $("#lim_max_z").text(((parseInt(limit[3],16)*256+parseInt(limit[4],16))/1000)+" V --- 0x"+limit[3]+limit[4]);
                        $("#jz_dy_maxz").text(((parseInt(limit[3],16)*256+parseInt(limit[4],16))/1000)+" V");
                        $("#lim_min_i").text(parseInt(limit[5],16)+" --- 0x"+limit[5]);
                        $("#lim_min_n").text(parseInt(limit[6],16)+" --- 0x"+limit[6]);
                        $("#jz_dy_minn").text(parseInt(limit[6],16));
                        $("#lim_min_z").text(((parseInt(limit[7],16)*256+parseInt(limit[8],16))/1000)+" V --- 0x"+limit[7]+limit[8]);
                        $("#jz_dy_minz").text(((parseInt(limit[7],16)*256+parseInt(limit[8],16))/1000)+" V");
                        $("#lim_max_c").text(parseInt(limit[9],16)+" --- 0x"+limit[9]);
                        $("#lim_max_cn").text(parseInt(limit[10],16)+" --- 0x"+limit[10]);
                        $("#jz_wd_maxn").text(parseInt(limit[10],16));
                        $("#lim_max_cz").text((parseInt(limit[11],16)-40)+" ℃ --- 0x"+limit[11]);
                        $("#jz_wd_maxz").text((parseInt(limit[11],16)-40)+" ℃");
                        $("#lim_min_c").text(parseInt(limit[12],16)+" --- 0x"+limit[12]);
                        $("#lim_min_cn").text(parseInt(limit[13],16)+" --- 0x"+limit[13]);
                        $("#jz_wd_minn").text(parseInt(limit[13],16));
                        $("#lim_min_cz").text((parseInt(limit[14],16)-40)+" ℃ --- 0x"+limit[14]);
                        $("#jz_wd_minz").text((parseInt(limit[14],16)-40)+" ℃");
                        console.log("极值数据提取完成！");
                    }else if(data[0]=="07"){//1+1+4+1+4*N1+1+4*N2+1+4*N3+1+4*N3
                        len1=4*parseInt(data[6],16);
                        len2=4*parseInt(data[6+1+len1],16);
                        len3=4*parseInt(data[6+1+len1+len2+1],16);
                        len4=4*parseInt(data[6+1+len1+len2+1+len3+1],16);
                        len_data = 10+len1+len2+len3+len4;
                        for(i=0;i<len_data;i++){
                            alarm.push(data[i]);
                        }
                        $("#alarm_d").text(parseInt(alarm[1],16)+" --- 0x"+alarm[1]);
                        if(parseInt(alarm[1],16)==1){
                            $("#alarm_d").css({"color":"#CCCC00"});
                        }else if(parseInt(alarm[1],16)==2){
                            $("#alarm_d").css({"color":"#FF66FF"});
                        }else if(parseInt(alarm[1],16)==3){
                            $("#alarm_d").css({"color":"#FF0000"});
                        }else {
                            $("#alarm_d").css({"color":"#666"});
                        }
                        $("#alarm_t").text("0x"+alarm[2]+alarm[3]+alarm[4]+alarm[5]);
                        for(var j=0;j<4;j++){
                            var e=256+parseInt(alarm[5-j],16);
                            str_alarm=e.toString(2);
                            var arr_ala=str_alarm.split("");
                            for(i=1;i<arr_ala.length;i++){
                                alarm_s.push(arr_ala[i]);
                            }
                        }
                        console.log(alarm_s);
                        var g=0;
                        alarm_str="<table class=\"layui-table\"><tbody>";
                        for(i=0;i<19;i++){
                            console.log("i "+i);
                            if(i%2==0){
                                alarm_str+="<tr>";
                            }
                            g=parseInt(i/8);
                            g=g*16;
                            g=g+7;
                            g=g-i;
                            if(alarm_s[g]==0){
                                alarm_str+="<td style=\"width: 25%\">"+alarm_arr[i]+"</td><td style=\"width: 25%\">正常</td>";
                            }else{
                                alarm_str+="<td style=\"width: 25%\">"+alarm_arr[i]+"</td><td style=\"width: 25%;color: #b92c28\">报警</td>";
                            }

                            if(i%2!=0){
                                alarm_str+="</tr>";
                            }
                        }
                        alarm_str+="</tbody></table>";
                        console.log(alarm_str);
                        $("#alarm_cn").text(parseInt(alarm[6],16)+" --- 0x"+alarm[6]);
                        if(len1>0){
                            str_alarm="0x";
                            for(i=0;i<len1;i++){
                                str_alarm+=alarm[7+i];
                            }
                            $("#alarm_c").text(str_alarm);
                        }
                        $("#alarm_qn").text(parseInt(alarm[7+len1],16)+" --- 0x"+alarm[7+len1]);
                        if(len2>0){
                            str_alarm="0x";
                            for(i=0;i<len2;i++){
                                str_alarm+=alarm[8+i+len1];
                            }
                            $("#alarm_q").text(str_alarm);
                        }
                        $("#alarm_fn").text(parseInt(alarm[8+len1+len2],16)+" --- 0x"+alarm[8+len1+len2]);
                        if(len3>0){
                            str_alarm="0x";
                            for(i=0;i<len3;i++){
                                str_alarm+=alarm[9+i+len1+len2];
                            }
                            $("#alarm_f").text(str_alarm);
                        }
                        $("#alarm_othe").text(parseInt(alarm[9+len1+len2+len3],16)+" --- 0x"+alarm[9+len1+len2+len3]);
                        if(len3>0){
                            str_alarm="0x";
                            for(i=0;i<len4;i++){
                                str_alarm+=alarm[10+i+len1+len2+len3];
                            }
                            $("#alarm_o").text(str_alarm);
                        }
                        console.log("报警数据提取完成！");
                    }else if(data[0]=="08"){
                        len_data = 12+2*parseInt(data[11],16);
                        for(i=0;i<len_data;i++){
                            voltage.push(data[i]);
                        }
                        var startnum = parseInt(voltage[9],16)*256+parseInt(voltage[10],16);
                        var tol = parseInt(voltage[11],16);
                        console.log(tol);
                        dianc.categories.length=0;
                        dianc.data.length=0;
                        for(i=0;i<tol;i++){
                            dianc.categories.push(i+startnum);
                            dianc.data.push((parseInt(voltage[12+2*i],16)*256+parseInt(voltage[12+2*i+1],16))/1000) ;
                        }

                        option = {
                            tooltip : {
                                trigger: 'axis',
                                axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                                    type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                                }
                            },
                            toolbox: {
                                show: true,
                                feature: {
                                    dataZoom: {
                                        yAxisIndex: 'none'
                                    },
                                    dataView: {readOnly: false},
                                    magicType: {type: ['line', 'bar']},
                                    restore: {},
                                    saveAsImage: {}
                                }
                            },
                            grid: {
                                left: '3%',
                                right: '4%',
                                bottom: '3%',
                                containLabel: true
                            },
                            xAxis : [
                                {
                                    type : 'category',

                                    data:dianc.categories,
                                    axisTick: {
                                        alignWithLabel: true
                                    }
                                }
                            ],
                            yAxis : [
                                {
                                    type : 'value',
                                    axisLabel: {
                                        formatter: '{value} V'
                                    }
                                }
                            ],
                            series : [
                                {
                                    name:'电压',
                                    type:'bar',
                                    barWidth: '60%',
                                    data:dianc.data,
                                    itemStyle:{
                                        color:'#66CCCC'
                                    },
                                    markPoint: {
                                        label:{
                                            show:true
                                        },
                                        data: [
                                            {type: 'max', name: '最大值'},
                                            {type: 'min', name: '最小值'}
                                        ]
                                    }
                                }
                            ]
                        };
                        myChart.setOption(option);
                        console.log("电压数据提取完成！");
                    }else if(data[0]=="09"){
                        len_data = 5+(parseInt(data[3],16)*256+parseInt(data[4],16));
                        for(i=0;i<len_data;i++){
                            temp.push(data[i]);
                        }
                        wd.categories.length=0;
                        wd.data.length=0;
                        var num = (parseInt(temp[3],16)*256)+parseInt(temp[4],16);
                        for(i=0;i<num;i++){
                            wd.categories.push(i+1);
                            wd.data.push(parseInt(temp[i+5],16)-40);
                        }
                        option_1 = {
                            tooltip : {
                                trigger: 'axis',
                                axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                                    type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                                }
                            },
                            xAxis: {
                                type: 'category',
                                data: wd.categories
                            },
                            toolbox: {
                                show: true,
                                feature: {
                                    dataZoom: {
                                        yAxisIndex: 'none'
                                    },
                                    dataView: {readOnly: false},
                                    magicType: {type: ['line', 'bar']},
                                    restore: {},
                                    saveAsImage: {}
                                }
                            },
                            yAxis: {
                                type: 'value',
                                axisLabel: {
                                    formatter: '{value} °C'
                                }
                            },
                            series: [{
                                data: wd.data,
                                type: 'bar',
                                smooth: true,
                                name:'温度',
                                itemStyle:{
                                    color:'#99CCCC'
                                },
                                markPoint: {
                                    data: [
                                        {type: 'max', name: '最大值'},
                                        {type: 'min', name: '最小值'}
                                    ]
                                }
                            }]
                        };
                        myChart_1.setOption(option_1);
                        console.log("温度数据提取完成！");
                    }else if(data[0]=="33"){//医疗设备自定义数据
                        len_data=65;
                        for(i=0;i<len_data;i++){
                            medical.push(data[i]);
                        }
                        console.log(medical);
                        $("#pjwd").text((parseInt(medical[1],16)-40)+" ℃");
                        $("#cgq").text(parseInt(medical[2],16));
                        $("#pjdy").text(((parseInt(medical[3],16)*256)+parseInt(medical[4],16))/1000+" V");
                        $("#curr").text((((parseInt(medical[5],16)*256)+parseInt(medical[6],16))-10000)/10+" A");
                        $("#disp_soc").text(((parseInt(medical[7],16)*256)+parseInt(medical[8],16))/10+" %");
                        $("#res_value").text(((parseInt(medical[9],16)*256)+parseInt(medical[10],16))+" KΩ");
                        $("#chg_curr").text((((parseInt(medical[11],16)*256)+parseInt(medical[12],16))-10000)/10+" A");
                        $("#ah_chg").text(((parseInt(medical[13],16)*256*256*256)+(parseInt(medical[14],16)*256*256)+(parseInt(medical[15],16)*256)+parseInt(medical[16],16))+" AH");
                        $("#ah_dchg").text(((parseInt(medical[17],16)*256*256*256)+(parseInt(medical[18],16)*256*256)+(parseInt(medical[19],16)*256)+parseInt(medical[20],16))+" AH");
                        $("#rest_mah").text(((parseInt(medical[21],16)*256*256*256)+(parseInt(medical[22],16)*256*256)+(parseInt(medical[23],16)*256)+parseInt(medical[24],16))/1000+" AH");
                        $("#avilable_mah").text(((parseInt(medical[25],16)*256*256*256)+(parseInt(medical[26],16)*256*256)+(parseInt(medical[27],16)*256)+parseInt(medical[28],16))/1000+" AH");
                        $("#wh_cur").text((parseInt(medical[29],16)*256)+parseInt(medical[30],16)+" wH");
                        $("#wh_rated").text((parseInt(medical[31],16)*256)+parseInt(medical[32],16)+" wH");
                        $("#avilable_volt").text(((parseInt(medical[33],16)*256)+parseInt(medical[34],16))/10+" V");
                        $("#avilable_ah").text((parseInt(medical[35],16)*256)+parseInt(medical[36],16)+" AH");
                        $("#bms_st").text(parseInt(medical[37],16));
                        $("#con_st").text(parseInt(medical[38],16));
                        $("#dchgle").text(parseInt(medical[39],16));
                        $("#chgle").text(parseInt(medical[40],16));
                        $("#bat_n").text(parseInt(medical[41],16));
                        $("#bat_l").text(parseInt(medical[42],16));
                        $("#main_st").text(parseInt(medical[43],16));
                        $("#chg_st").text(parseInt(medical[44],16));
                        $("#sw_maj").text(parseInt(medical[45],16));
                        $("#sw_min").text(parseInt(medical[46],16));
                        $("#sw_bu").text(parseInt(medical[47],16));
                        $("#hw_maj").text(parseInt(medical[48],16));
                        $("#hw_min").text(parseInt(medical[49],16));
                        $("#hw_bu").text(parseInt(medical[50],16));
                        $("#moth").text(parseInt(medical[51],16));
                        $("#dat").text(parseInt(medical[52],16));
                        $("#real_soc").text(((parseInt(medical[53],16)*256)+parseInt(medical[54],16))/10+" %");
                        $("#exp_soc").text(((parseInt(medical[55],16)*256)+parseInt(medical[56],16))/10+" %");
                        $("#volt_bef").text(((parseInt(medical[57],16)*256)+parseInt(medical[58],16))/10+" V");
                        $("#volt_aft").text(((parseInt(medical[59],16)*256)+parseInt(medical[60],16))/10+" V");
                        $("#volt_chg").text(((parseInt(medical[61],16)*256)+parseInt(medical[62],16))/10+" V");
                        $("#volt_sum").text(((parseInt(medical[63],16)*256)+parseInt(medical[64],16))/10+" V");

                    }else {
                        console.log("数据提取出错！");
                        console.log(data);
                        break;
                    }
                    data.length=0;
                    len_s+=len_data;
                    for(i=0;i<len-6-len_data;i++){
                        data.push(arr[i+24+len_s]);
                    }
                }
            }else if(arr[2]=="01"){
                $("#map").removeClass();
                $("#map").addClass("hide");
                $("#main-v").removeClass();
                $("#main-v").addClass("hide");
                $("#main-c").removeClass();
                $("#main-c").addClass("hide");
                $('#info').text("登录数据");
                $('#ser').text((parseInt(arr[30],16)*256+parseInt(arr[31],16)));
                for(i=0;i<20;i++){
                    iccid.push(arr[i+32]);
                    iccid[i]=String.fromCharCode(parseInt(iccid[i],16));
                }
                $('#iccid').text(iccid.join(""));
            }else if(arr[2]=="04"){
                $("#map").removeClass();
                $("#map").addClass("hide");
                $("#main-v").removeClass();
                $("#main-v").addClass("hide");
                $("#main-c").removeClass();
                $("#main-c").addClass("hide");
                $('#info').text("登出数据");
                $('#ser').text(parseInt(arr[30],16)*256+parseInt(arr[31],16));
            }
        }else{
            $("#map").removeClass();
            $("#map").addClass("hide");
            $("#main-v").removeClass();
            $("#main-v").addClass("hide");
            $("#main-c").removeClass();
            $("#main-c").addClass("hide");
            layer.msg("数据长度不足！");
        }
}
</script>
</body>

</html>