<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
	body, html{width: 100%;height: 100%;margin:0;font-family:"微软雅黑";}
	#allmap {width: 100%; height:50%; overflow: hidden;}
	#result {width:100%;font-size:12px;}
	dl,dt,dd,ul,li{
		margin:0;
		padding:0;
		list-style:none;
	}
	p{font-size:12px;}
	dt{
		font-size:14px;
		font-family:"微软雅黑";
		font-weight:bold;
		border-bottom:1px dotted #000;
		padding:5px 0 5px 5px;
		margin:5px 0;
	}
	dd{
		padding:5px 0 0 5px;
	}
	li{
		line-height:28px;
	}
	</style>
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=vdwlUnwtXAAl0zuQQM2C5MdhLhfLZqcX"></script>
	<!--加载鼠标绘制工具-->
	<script type="text/javascript" src="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.js"></script>
	<link rel="stylesheet" href="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.css" />
	<!--加载检索信息窗口-->
	<script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.4/src/SearchInfoWindow_min.js"></script>
	<link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.4/src/SearchInfoWindow_min.css" />
    <script type="text/javascript" src="http://api.map.baidu.com/library/GeoUtils/1.2/src/GeoUtils_min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.js"></script>

	<title>鼠标绘制工具</title>
</head>
<body>
	<div id="allmap" style="overflow:hidden;zoom:1;position:relative;">
		<div id="map" style="height:100%;-webkit-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;"></div>
	</div>
	<div id="result">
        <input type="button" value="开启圆形" onclick="startDrawing()"/>
        <input type="button" value="开启多边形" onclick="startDrawing1()"/>
        <input type="button" value="开启监控" onclick="ptInPolygon()"/>
        <input type="button" value="清除" onclick="clearAll()"/>
	</div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 5px;">
        <legend style="color: lightcoral; text-align: center">未在范围内的车辆VIN:</legend>
    </fieldset>
    <table class="layui-table">
{#        <thead>#}
{#          <tr>#}
{#            <th style="text-align: center; color: red">VIN</th>#}
{#        </thead>#}
        <tbody id="tbody">
        </tbody>
      </table>
	<script type="text/javascript">
	// 百度地图API功能
    var map = new BMap.Map('map');
    var poi = new BMap.Point(116.307852,40.057031);
    map.centerAndZoom(poi, 16);
    map.enableScrollWheelZoom();
    var overlays = [];
    lis = [];
	var overlaycomplete = function(e){
	    drawingManager.close();
	    if(num===1){
	        overlays.push(e.overlay);
	        for (var i=0,len=e.overlay.ia.length; i<len; i++){
	            lis.push(new BMap.Point(e.overlay.ia[i].lng, e.overlay.ia[i].lat));
            }
            //创建多边形
            polygon2 = new BMap.Polygon(lis, {strokeColor:"#f50704",fillColor:"#cfcfcf", strokeWeight:5, strokeOpacity:0,fillOpacity:0});

        } else if(num===0) {
            overlays.push(e.overlay);
            radius = e.overlay.xa;
            lng = e.overlay.point.lng;
            lat = e.overlay.point.lat;
            var pointCenter = new BMap.Point(lng, lat);
            circle = new BMap.Circle(pointCenter, radius, {
            strokeColor:"red",    //边线颜色。
            fillColor:"red",      //填充颜色。当参数为空时，圆形将没有填充效果。
            strokeWeight: 3,       //边线的宽度，以像素为单位。
            strokeOpacity: 0.8,	   //边线透明度，取值范围0 - 1。
            fillOpacity: 0.6,      //填充的透明度，取值范围0 - 1。
            strokeStyle: 'solid' //边线的样式，solid或dashed。
        });
        }};

    var styleOptions = {
        strokeColor:"red",    //边线颜色。
        fillColor:"red",      //填充颜色。当参数为空时，圆形将没有填充效果。
        strokeWeight: 3,       //边线的宽度，以像素为单位。
        strokeOpacity: 0.8,	   //边线透明度，取值范围0 - 1。
        fillOpacity: 0.6,      //填充的透明度，取值范围0 - 1。
        strokeStyle: 'solid' //边线的样式，solid或dashed。
    };
    //实例化鼠标绘制工具
    var drawingManager = new BMapLib.DrawingManager(map, {
            isOpen: false, //是否开启绘制模式
            enableDrawingTool: false, //是否显示工具栏
            drawingToolOptions: {
                anchor: BMAP_ANCHOR_TOP_RIGHT, //位置
                offset: new BMap.Size(5, 5) //偏离值
            },
            circleOptions: styleOptions, //圆的样式
            polylineOptions: styleOptions, //线的样式
            polygonOptions: styleOptions, //多边形的样式
            rectangleOptions: styleOptions //矩形的样式
        });

	 //添加鼠标绘制工具监听事件，用于获取绘制结果
    drawingManager.addEventListener('overlaycomplete', overlaycomplete);

    // 清楚所有图像
    function clearAll() {
		for(var i = 0; i < overlays.length; i++){
            map.removeOverlay(overlays[i]);
        }
        overlays.length = 0
    }

    // 绘制圆形
    function startDrawing() {
        num = 0;
        drawingManager.open();
        //drawingManager.enableCalculate();     //计算区域面积
        drawingManager.setDrawingMode(BMAP_DRAWING_CIRCLE);
    }

    // 绘制多边形
    function startDrawing1() {
        num = 1;
        drawingManager.open();
        //drawingManager.enableCalculate();     //计算区域面积
        drawingManager.setDrawingMode(BMAP_DRAWING_POLYGON);
    }

    //开启监控圆形
    function ptInPolygon(){
        WebSocketTest();
    }

    // 实时获取数据
    function WebSocketTest() {
        if ("WebSocket" in window) {
            // 打开一个 web socket
            ws = new WebSocket("ws:" + window.location.host + "/fence/fence_data/");

            ws.onopen = function () {
                // Web Socket 已连接上，使用 send() 方法发送数据
{#                var VIN = $('.layui-input').val();#}
{#                ws.send(VIN);#}
            };

            ws.onmessage = function (evt) {
                var tb = document.getElementById("tbody"); //定位到table上
                tb.innerText = '';
                var received_msg = JSON.parse(evt.data);
                console.log(received_msg);
                if(num===0){
                for (var i=0,len=received_msg.length; i<len; i++){
                    var pt = new BMap.Point(received_msg[i][0], received_msg[i][1]);
                    var result = BMapLib.GeoUtils.isPointInCircle(pt, circle);
                    if(result == true){
                    } else {
                        var tr = document.createElement("tr");
                        var td = document.createElement("td");
                        td.style.textAlign = 'center';
                        td.innerText = received_msg[i][2];
                        td.style.color = 'lightcoral';
                        tr.appendChild(td);
                        var parNode = document.getElementById("tbody"); //定位到table上
                        parNode.appendChild(tr);
                    }
                }}else if(num===1){
                    for (var i=0,len=received_msg.length; i<len; i++){
                        var pt = new BMap.Point(received_msg[i][0], received_msg[i][1]);
                        var result = BMapLib.GeoUtils.isPointInPolygon(pt,polygon2);
                        if(result == true){
                        } else {
                            var tr = document.createElement("tr");
                            var td = document.createElement("td");
                            td.style.textAlign = 'center';
                            td.innerText = received_msg[i][2];
                            td.style.color = 'lightcoral';
                            tr.appendChild(td);
                            var parNode = document.getElementById("tbody"); //定位到table上
                            parNode.appendChild(tr);
                        }
                }}
            };

            ws.onclose = function () {
            };
        } else {
            // 浏览器不支持 WebSocket
            alert("您的浏览器不支持 WebSocket!");
        }
    }


</script>
</body>
</html>