<!DOCTYPE html>
<html>
<head>
	<!-- 设置全文编码格式 -->
	<meta charset="utf-8">
	<!-- 让IE也可以用上Chrome的引擎 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge, Chrome=1">
	<!-- 国产浏览器告诉模式 -->
	<meta name="renderer", content="webkit">
	<!-- 网页关键字 -->
	<meta name="keywords" content="车辆, 自动化, 定位">
{#    <meta http-equiv="refresh" content="10">#}
	<title>成都北斗科技有限公司</title>

	<!-- 总体样式 -->
	<!-- 小图标 -->
	<link rel="shortcut icon" href="/static/images/favicon.ico">
	<!-- 整理列表字体 -->
	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
	<!-- 字体前添加图标 -->
	<link rel="stylesheet" type="text/css" href="/static/font_my/iconfont.css">
	<!-- 左侧鼠标指针动态效果，右侧iframe扩大效果, layui基于jquery -->
	<script type="text/javascript" src="/static/js/jquery-1.11.3.min.js" ></script>
	<!-- 此两块为layui基本引入文件 -->
	<link rel="stylesheet" type="text/css" href="/static/css/layui.css">
	<script type="text/javascript" src="/static/js/layui.js"></script>

	<!-- 滚动条插件 -->
	<link rel="stylesheet" type="text/css" href="/static/css/jquery.mCustomScrollbar.css">
	<script src="/static/js/jquery-ui-1.10.4.min.js"></script>
	<script src="/static/js/jquery.mousewheel.min.js"></script>
	<script src="/static/js/jquery.mCustomScrollbar.min.js"></script>
	<!-- 仅供所有子页面使用 -->
	<script src="/static/js/cframe.js"></script>
	<!-- 公共样式 结束 -->

	<!-- 编辑整体样式 -->
	<link rel="stylesheet" type="text/css" href="/static/css/frameStyle.css">
	<!-- 将子模板渲染到中间 -->
	<script type="text/javascript" src="/static/js/frame.js" ></script>
</head>
<body>
	<body>
		<!-- 左侧菜单 - 开始 -->
		<div class="frameMenu">
		    <div class="logo">
		        <img style="width: 230px" src="/static/images/cps_logo.png"/>
		    </div>
		    <div class="menu">
		        <ul>
                    <li>
		                <a class="menuFA" href="javascript:void(0)" onclick="menuCAClick('{% url 'index:map' %}',this)"><i class="iconfont icon-shouye-xuanzhong left"></i>首页</a>
		           	</li>
{#                    <li>#}
{#		                <a class="menuFA" href="javascript:void(0)"><i class="iconfont icon-shangpin left"></i>商品管理<i class="iconfont icon-dajiantouyou right"></i></a>#}
{#		                <dl>#}
{#		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('tgls/goodsManage/goodsType_list.html',this)">分类列表</a></dt>#}
{#		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('tgls/goodsManage/goods_list.html',this)">基本商品库</a></dt>#}
{#		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('tgls/goodsManage/goods_add.html',this)">添加商品</a></dt>#}
{#		                </dl>#}
{#		            </li>#}
                    <li>
		                <a class="menuFA" href="javascript:void(0)" onclick="menuCAClick('{% url 'machine:index' %}',this)"><i class="iconfont icon-shebeiguanli left"></i>设备管理</a>
		           	</li>
		        	<li>
		                <a class="menuFA" href="javascript:void(0)" onclick="menuCAClick('{% url 'user:manage' %}',this)"><i class="iconfont icon-yonghuguanli left"></i>用户管理</a>
		           	</li>
                    <li>
		                <a class="menuFA" href="javascript:void(0)" onclick="menuCAClick('{% url 'car:car_search' %}',this)"><i class="iconfont icon-cheliangguanli left"></i>车辆管理</a>
		           	</li>
                    <li>
		                <a class="menuFA" href="javascript:void(0)" onclick="menuCAClick('{% url 'playback:back_video' %}',this)"><i class="iconfont icon-guijihuifang left"></i>轨迹回放</a>
		           	</li>
                    <li>
		                <a class="menuFA" href="javascript:void(0)" onclick="menuCAClick('{% url 'lock:search' %}',this)"><i class="iconfont icon-kongzhi left"></i>车辆锁车</a>
		           	</li>
                    <li>
		                <a class="menuFA" href="javascript:void(0)" onclick="menuCAClick('{% url 'lock:ledao_lock' %}',this)"><i class="iconfont icon-kongzhi left"></i>乐道锁车</a>
		           	</li>
                    <li>
		                <a class="menuFA" href="javascript:void(0)" onclick="menuCAClick('{% url 'CAN:show' %}',this)"><i class="iconfont icon-shujuchaxun left"></i>报文查询</a>
		           	</li>
                    <li>
		                <a class="menuFA" href="javascript:void(0)" onclick="menuCAClick('{% url 'car:car_index' %}',this)"><i class="iconfont icon-jiankong left"></i>车辆监控</a>
		           	</li>
                    <li>
		                <a class="menuFA" href="javascript:void(0)" onclick="menuCAClick('{% url 'doctor:doctor' %}',this)"><i class="iconfont icon-jiankong-- left"></i>医疗监控</a>
		           	</li>
                    <li>
		                <a class="menuFA" href="javascript:void(0)" onclick="menuCAClick('{% url 'doctor:doctor_download' %}',this)"><i class="iconfont icon-xiazai left"></i>医疗报文下载</a>
		           	</li>
                    <li>
		                <a class="menuFA" href="javascript:void(0)" onclick="menuCAClick('{% url 'CAN:can_download' %}',this)"><i class="iconfont icon-xiazai left"></i>整车数据下载</a>
		           	</li>
                    <li>
		                <a class="menuFA" href="javascript:void(0)" onclick="menuCAClick('{% url 'CAN:zhu_download' %}',this)"><i class="iconfont icon-xiazai left"></i>主函数数据下载</a>
		           	</li>
                    <li>
		                <a class="menuFA" href="javascript:void(0)" onclick="menuCAClick('{% url 'fence:index' %}',this)"><i class="iconfont icon-weilan- left"></i>电子围栏</a>
		           	</li>
                    <li>
		                <a class="menuFA" href="javascript:void(0)" onclick="menuCAClick('{% url 'updt:up' %}',this)"><i class="iconfont icon-shengjizhongxin left"></i>车辆升级</a>
		            </li>
		        </ul>
		    </div>
		</div>
		<!-- 左侧菜单 - 结束 -->

		<div class="main">
			<!-- 头部栏 - 开始 -->
			<div class="frameTop">
				<img class="jt" src="/static/images/top_jt.png"/>
				<div class="topMenu">
					<ul>
						<li><a href="javascript:void(0)"><i class="iconfont icon-guanliyuan"></i>{{ rolename }}</a></li>
{#						<li><a href="javascript:void(0)" onclick="menuCAClick('tgls/modify_password.html',this)"><i class="iconfont icon-xiugaimima"></i>修改密码</a></li>#}
						<li><a href="{% url 'user:logout' %}"><i class="iconfont icon-zhuxiao"></i>注销</a></li>
					</ul>
				</div>
			</div>
			<!-- 头部栏 - 结束 -->

			<!-- 核心区域 - 开始 -->
			<div class="frameMain">
				<div class="title" id="frameMainTitle">
					<span><i class="iconfont icon-diannao"></i>后台首页</span>
				</div>
				<div class="con">
					<iframe id="mainIframe" src="{% url 'index:map' %}"></iframe>
				</div>
			</div>
			<!-- 核心区域 - 结束 -->
		</div>
	</body>
{#<script language="JavaScript">#}
{#    setTimeout(function(){location.reload()},10000); //指定1秒刷新一次#}
{#</script>#}
</body>
</html>