<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-L-admin1.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/static/js/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>

  </head>
  
  <body>
    <div class="x-body layui-anim layui-anim-up">
        <form action="/machine/machine_edit/" method="post" class="layui-form" >
            {% csrf_token %}
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
                  ICCID
              </label>
              <div class="layui-input-inline">
                  <input readonly type="text" id="L_repass" name="ICCID" value="{% if machine.ICCID %}{{ machine.ICCID }}{% endif %}"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_username" class="layui-form-label">
                  货号
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_username" name="product_num" value="{{ machine.product_num }}"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_pass" class="layui-form-label">
                  流水号
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_pass" name="serial_num" value="{% if machine.serial_num %}{{ machine.serial_num }}{% endif %}"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
                  出厂日期
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_repass" name="birthday" value="{% if machine.birthday %}{{ machine.birthday }}{% endif %}"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
                  部门
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_repass" name="dept" value="{% if machine.dept %}{{ machine.dept }}{% endif %}"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button type="submit" class="layui-btn" lay-filter="add" lay-submit="">
                  修改数据
              </button>
          </div>
      </form>
    </div>
    <script>
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
          var form = layui.form;
        
          //自定义验证规则
          form.verify({
            nikename: function(value){
              if(value.length != 17){
                return '请输入17位VIN码';
              }
            }
          });
        });
    </script>
  </body>

</html>